.section__technologies {
  padding: 60px 0;
  background-color: #4c3a69;
  color: #fff;
}
.section__technologies-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__technologies-inner .button {
  -ms-flex-item-align: center;
      align-self: center;
}
.section__technologies-title {
  margin-bottom: 50px;
}
.section__technologies-title h2 {
  font-size: calc(23px + 30 * (100vw - 320px) / 1600);
  font-weight: 800;
}
.section__technologies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.section__technologies-item {
  width: 100%;
  max-width: 470px;
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.section__technologies-item--duration {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section__technologies-item:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}
.section__technologies-item:hover h4::after {
  opacity: 1;
}

.technologies__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #fff;
  padding: 15px;
}
.technologies__item-top span {
  width: 17px;
  margin-right: 6px;
  display: block;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
}
.technologies__item-top span:last-child {
  margin-right: 0;
}

.technologies__item-info {
  padding: 30px;
}
.technologies__item-info h4 {
  font-size: calc(18px + 6 * (100vw - 320px) / 1600);
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.technologies__item-info h4::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 15px;
  border-radius: 6px;
  background: #774069;
  margin-top: 10px;
}
.technologies__item-info p {
  font-size: calc(16px + 3 * (100vw - 320px) / 1600);
  line-height: 1.5;
  word-spacing: 2px;
}

@media (max-width: 1454px) {
  .section__technologies-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__technologies-item {
    margin: 20px;
  }
}
@media (max-width: 440px) {
  .technologies__item-info {
    padding: 15px;
  }
  .section__technologies-item {
    margin: 0;
    margin-bottom: 20px;
  }
  .section__technologies-item:last-child {
    margin-bottom: 0;
  }
}